body {
  margin: 0;
  text-align: center;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
h1 {
  margin: 0;
  margin-bottom: 0.5rem;
}
.select {
  margin-left: 0.5rem;
  height: 1.5rem;
  border-radius: 0.3em;
  width: 5em;
}

.input {
  border: 1px solid #333;
  border-radius: 0.3em;
  width: 12em;
  padding: 0.25rem;
}
.equals {
  font-weight: bold;
  font-size: 2rem;
}
